@import 'variables';
@import 'mixins';

#banners {
  position: relative;
  padding-top: 80px;

  .banners-control {
    list-style: none;
    @include flexbox();
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    z-index: 10;
  
    li {
      width: 30px;
      margin: 0 5px;
      a {
        display: block;
        cursor: pointer;
        width: 100%;
        height: 5px;
        border-bottom: 2px solid white;
      }
    }
  }
  
  .banners-content {
    height: calc(100vh - 80px);
    width: 100%;
    overflow: hidden;
    @include flexbox(row, center, flex-start);
    
    > div {
      // @include responsive-ratio(16,9);
      width: 100%;
      height: 100%;
    }
    
    .mentor-banner-content {
      background-repeat: no-repeat;
      background-position: center left;
      background-size: cover;
      flex-shrink: 0;
      position: relative;
      transition: left 1s ease-in-out;
      @include flexbox(column, flex-start, center);
    }

    @for $i from 1 through length($mentors) {
      $name: nth($mentors, $i);

      #mentor-#{$name} {
        background-image: url('../images/banners/#{$name}.png');
        height: 100%;
      }
    }
    .mentor-content {
      padding-left: 50%;
      .mentor-name {
        font-size: 7rem;
        color: white;
        letter-spacing: $largeLetterSpacing;
      }
      .mentor-description {
        color: $greyText;
        font-size: 2rem;
        padding-left: 3px;
        letter-spacing: $defaultLetterSpacing;
      }
      .mentor-btn {
        color: white;
        margin-top: 25px;
        justify-self: flex-end;
      }
    }
  }
  @include mq('tablet', max) {
    .banners-control {
      padding-left: 0;
    }
    .banners-content {
      @each $name in $mentors {
        #mentor-#{$name} {
          background-image: url('../images/banners/#{$name}-MOBILE.png');
          background-position: center;
        }
      }
      .mentor-banner-content {
        align-items: flex-end;
      }
      .mentor-content {
        padding-left: 0;
        text-align: right;
        padding-right: 5%;

        .mentor-name {
          font-size: 2rem;
        }
        .mentor-description {
          font-size: 1.5rem;
          span {
            display: block;
            &.hidden-mobile {
              display: none;
            }
          }
        }
      }
    }
  }
}

// Codepen carousel: https://codepen.io/dangvanthanh/pen/AgHnB