@import 'variables';
@import 'mixins';

#exclusiveContent {
  padding: $sectionPaddingDesktop 20px;

  .section-title {
    color: $primaryBlue;
  }

  .videos-wrapper {
    .list-inline {
      li {
        position: relative;
        
        svg {
          position: absolute;
          left: 50%;
          margin-left: -15px;
          font-size: 6rem;
          top: 70px;
          color: white;
          width: 30px;
          opacity: 1;
          z-index: 11;
        }
        
        .video-content {
          margin: 15px auto;
          max-width: 320px;
  
          iframe {
            width: 100%;
          }
  
          &--blocked {
            pointer-events: none;
            touch-action: none;
            background: transparentize($color: #000000, $amount: 0.1);
            iframe {
              opacity: 0.2 !important;
              filter: alpha(opacity=20); /* For IE8 and earlier */
            }
          }
        }
      }
    }
  }

  @include mq('desktop-small') {
    .section-title,
    .section-subtitle {
      text-align: center;
    }

    .section-title {
      font-size: 2.8rem;
    }

    .section-subtitle {
      font-size: 2rem;
    }
    
    .videos-wrapper {
      margin-top: 25px;
      .list-inline {
        @include flexbox(row, center, space-around);
        li {
          position: relative;
          max-width: 23%;
        }
      }
    }
  }
}