@import 'variables';

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  font-family: 'Dosis', sans-serif !important;
}

.section-title {
  color: white;
  font-size: $sectionTitleFontSize;
}

@each $name in 'red' 'blue' 'green' {
    .icon-#{$name} {
        background-color: $name
    }
}

@import 'main_menu';
@import 'banners';
@import 'what';