@import 'variables';
@import 'mixins';

#main-menu {
  background-color: $secondaryBlue;
  width: 100%;
  height: 80px;
  @include flexbox(row, center, space-between);
  position: fixed;
  z-index: 100;
  font-size: 1.6rem;

  .menu-content {
    width: 70%;
    margin-right: 50px;
  }

  .ua-logo {
    max-width: 30%;
    margin-left: 50px;
    flex-shrink: 0;
    img {
      max-width: 100%;
      height: 50px;
    }
  }

  ul {
    list-style: none;
    width: 100%;
    padding-left: 0;
    color: white;
    @include flexbox(row, center, space-between);

    li {
      position: relative;
      height: 80px;
      @include flexbox();

      &:hover {
        a { 
          border-bottom: 1px solid $primaryBeige; 
        }
      }
      &.sign-now {
        border: 2px solid $primaryBeige;
        padding: 6px;
        height: 30px;

        &:hover {
          border-bottom-width: 2px;
          background-color: rgba(255,255,255,0.1);
        }
      }
      a {
        color: white;
        text-decoration: none;
      }
      &.student {
        &:hover {
          a {
            border: none;
          }
          .submenu--alunos {
            opacity: 1;
            visibility: visible;
          }
        }
        .submenu--alunos {
          @include flexbox(column, center, center);
          opacity: 0;
          visibility: hidden;
          position: absolute;
          top: 60px;
          background-color: black;
          padding: 10px 15px;
          margin: 0;
          width: 100%;
          
          hr {
            border-color: $primaryBeige;
            width: 100%;
          }
          li {
            height: 20px;
            a:hover {
              border-bottom: 1px solid $primaryBeige;
            }
          }
        }
      }
    }
  }

  .mobile-menu-trigger {
    display: none;
  }

  @include mq('tablet', max) {
    .ua-logo {
      margin-left: 15px;
    }
    .mobile-menu-trigger {
      display: block;
      color: white;
      position: absolute;
      right: 50px;
      font-size: 3rem;
    }
    input.mobile-menu-trigger {
    display: none;
      &:checked {
        ~ .menu-content {
          max-height: 100vh;
          top: 60px;
          position: fixed;
          right: 0;
        }
      }
    }
    .menu-content {
      max-height: 0;
      overflow: hidden;
      width: 180px;
      margin-right: 0;
      ul {
        flex-direction: column;
        margin-right: 15px;
        width: 100%;
        background: black;
        padding-bottom: 30px;
      }
    }
  }
}