@import 'variables';
@import 'mixins';

#testimonials {
  background: url('../images/bg-depoimentos.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  padding: $sectionPaddingMobile 20px;

  .carousel {
    .carousel-inner {
      .carousel-item {
        .carousel-text {
          margin-top: 35px;
          text-align: center;
          h5 {
            font-style: italic;
            color: $primaryBeige;
          }
          p {
            color: white;
            font-size: 1.4rem;
            font-weight: bold;
          }
        }
        img {
          width: 50px;
          height: auto;
          margin: 0 auto;
        }
      }
    }
    .carousel-control-next-icon, 
    .carousel-control-prev-icon {
      height: 100%;
      background-position: 0 -65px;
    }
  }

  @include mq('desktop-small') {
    padding: $sectionPaddingDesktop 40px;
    height: auto;

    .carousel {
      .carousel-inner {
        .carousel-item {
          .carousel-text {
            h5 {
              font-size: 2rem;
            }
            p {
              font-size: 2.5rem;
              width: 60%;
              margin: 25px auto;
            }
          }
          img {
            width: 140px;
          }
        }
      }
    }
  }
}