// Colors
$primaryBlue: #09326a;
$secondaryBlue: #04080e;
$primaryBeige: #ccad8e;
$greyText: #6e6e6e;

// Fonts
$sectionTitleFontSize: 1.8rem;

$defaultLetterSpacing: 1rem;
$largeLetterSpacing: 1.5rem;

$titleFontSizeMobile: 2rem;
$subtitleFontSizeMobile: 1rem;

$titleFontSizeDesktop: 2.5rem;
$subtitleFontSizeDesktop: 1.5rem;

// Structure
$sectionPaddingTop: 40px;
$sectionPaddingMobile: 30px;

// Breakpoints
$breakpoints: (
    "phone":          320px,
    "tablet":         820px,
    "desktop-small":  1024px,
    "desktop":        1248px,
    "desktop-wide":   1600px
);

// Mentors
$mentors: 'todos', 'Beto-Neves', 'Carlos-Freitas', 'Cesar-Santos', 'Conrado-Ruther', 'Cris-Simoes', 'Paulo-Anhaia', 'Pedro-Peixoto';