// Colors
$primaryBlue: #09326a;
$secondaryBlue: #04080e;
$tertiaryBlue: #001128;
$quarternaryBlue:#000b1a;
$primaryBeige: #ccad8e;
$greyText: #6e6e6e;


// Fonts
$smallLetterSpacing: 0.5rem;
$defaultLetterSpacing: 0.8rem;
$largeLetterSpacing: 1.1rem;

$titleFontSizeMobile: 2rem;
$subtitleFontSizeMobile: 1.2rem;

$titleFontSizeDesktop: 3.2rem;
$subtitleFontSizeDesktop: 1.5rem;

// Structure
$sectionPaddingDesktop: 90px;
$sectionPaddingMobile: 30px;

// Breakpoints
$breakpoints: (
    "phone":          320px,
    "tablet":         820px,
    "desktop-small":  1024px,
    "desktop":        1248px,
    "desktop-wide":   1600px
);

// Mentors
$mentors: 'todos', 'Beto-Neves', 'Carlos-Freitas', 'Cesar-Santos', 'Conrado-Ruther', 'Cris-Simoes', 'Paulo-Anhaia', 'Pedro-Peixoto';