// Colors
$primaryBlue: #09326a;
$secondaryBlue: #04080e;
$secondaryBeige: #ccad8e;
$greyText: #6e6e6e;

// Fonts
$sectionTitleFontSize: 1.8rem;

// Structure
$sectionPaddingTop: 40px;

// Breakpoints
$breakpoints: (
    "phone":        320px,
    "tablet-small": 640px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1600px
);