@import 'variables';
@import 'mixins';

#what {
  @include flexbox(column, center, space-between);
  background-image: url('../images/bg-o-que-e.png');
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  padding: $sectionPaddingTop 20px 0;
  
  .video-wrapper {
    width: 100%;
    color: white;
    text-align: center;

    .section-title {
      margin-bottom: 15px;
    }
    .section-subtitle {
      margin-bottom: 30px;
    }
    
  }
  .progress-bar-wrapper {
    background-image: linear-gradient($tertiaryBlue, $quarternaryBlue);
    width: 100%;
    padding: 10px 15px;
    position: relative;
    margin: 20px auto;

    .section-title {
      margin-bottom: 15px;
    }

    .indicado-progress {
      margin-bottom: 10px;
      position: relative;
      
      > span {
        font-size: 1.3rem;
        color: white;
        margin-bottom: 10px;
        display: block;
        text-align: center;
      }
    }
    
    .progress {
      background-color: black;
      .progress-bar {
        background-color: white;
        color: $primaryBeige;
        span {
          position: absolute;
          left: 0;
          top: 10px;
          font-size: 1rem;
          color: white;
        }
      }
    }
  }
}