@import 'variables';
@import 'mixins';

#what {
  @include flexbox(column, center, space-between);
  background-image: url('../images/bg-o-que-e.png');
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  padding: $sectionPaddingDesktop 20px 0;
  
  .video-wrapper {
    width: 100%;
    color: white;
    text-align: center;

    .section-title {
      margin-bottom: 15px;
    }
    .section-subtitle {
      margin-bottom: 30px;
    }
    
  }
  .progress-bar-wrapper {
    background-image: linear-gradient($tertiaryBlue, $quarternaryBlue);
    width: 100%;
    padding: 10px 15px;
    position: relative;
    margin: 20px auto;

    .section-title {
      margin-bottom: 15px;
      text-align: center;
    }

    .indicado-progress {
      margin-bottom: 10px;
      position: relative;
      width: 80%;
      margin: 0 auto 10px;
      
      > span {
        font-size: 1.3rem;
        color: white;
        margin-bottom: 10px;
        display: block;
        text-align: center;
      }
    }
    
    .progress {
      background-color: black;

      .progress-bar {
        background-color: white;
        color: $primaryBeige;
        span {
          position: absolute;
          left: 0;
          top: 10px;
          font-size: 1.15rem;
          color: white;
        }
      }
    }
  }

  @include mq('desktop-small') {
    padding-bottom: 200px;
    margin-bottom: 110px;

    .section-title {
      font-size: 3rem;
      margin-bottom: 10px;
    }
    .section-subtitle {
      font-size: 2rem;
    }

    .video-wrapper {
      .video-content {
        iframe {
          width: 640px;
          height: 400px;
        }
      }
    }

    .progress-bar-wrapper {
      position: absolute;
      top: 100%;
      width: 80%;
      margin-top: -112px;
      height: 224px;
      border-top: 5px solid $primaryBeige;

      .section-title {
        font-size: 2.4rem;
        font-weight: bold;
        border-bottom: 1px solid $primaryBeige;
        width: 300px;
        margin: 20px auto 30px;
      }

      .progress-bar-content {
        @include flexbox();

        .indicado-progress {

          > span {
            font-size: 2.2rem;
            margin-bottom: 10px;
          }

          .progress {
            width: 70%;
            margin: 20px auto;
          }
          .progress-bar {
            &.nao-sabe,
            &.sabe-mas-nao-sabe,
            &.acha-que-sabe {
              span {
                font-size: 1.6rem;
                top: 35px;
              }
            }
            
            &.nao-sabe {
              span {
                left: 15%;
              }
            }
            &.sabe-mas-nao-sabe {
              span {
                left: 50%;
              }
            }
            &.acha-que-sabe {
              span {
                left: 75%;
              }
            }
          }
        }
      }
    }
  }
}